@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Beaufort';
  src: url('/fonts/Beaufort-Regular.woff2') format('woff2'),
    url('/fonts/Beaufort-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beaufort';
  src: url('/fonts/Beaufort-Bold.woff2') format('woff2'),
    url('/fonts/Beaufort-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply bg-primary font-beaufort text-offwhite;
    font-size: 62.5%;
  }
}

@layer components {
  .image-shadow {
    position: absolute;
    top: 0;
    margin-top: calc(var(--offset-top) * -1);
    margin-left: var(--offset-left);
    height: 200%;
    width: calc(100% + var(--offset-width));
    box-shadow: inset 0px 0px 16px 48px theme('colors.primary');

    --offset-width: 50px;
    --offset-top: 35px;
    --offset-left: -25px;
  }

  .image-shadow:before {
    content: '';
    position: absolute;
    top: var(--offset-top);
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 52%, theme('colors.primary') 98%);
  }

  .image-shadow:after {
    content: '';
    position: absolute;
    top: var(--offset-top);
    height: 50%;
    width: 100%;
    background-image: linear-gradient(to bottom, theme('colors.primary') 0%, transparent 22%);
  }

  .divider {
    background: linear-gradient(to right, transparent, theme('colors.accent'), transparent);
  }

  .glassmorphism {
    background: hsl(230, 9%, 13% / 0.1);
    backdrop-filter: blur(0.6rem);
  }

  .translucent {
    background: rgba(11, 11, 13, 0.7);
  }
}
