@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-neutral-50: 238, 239, 239;
    --color-neutral-100: 231, 231, 227;
    --color-neutral-200: 224, 223, 215;
    --color-neutral-300: 212, 210, 198;
    --color-neutral-400: 182, 180, 171;
    --color-neutral-500: 148, 146, 140;
    --color-neutral-600: 114, 112, 109;
    --color-neutral-700: 80, 78, 78;
    --color-neutral-800: 46, 44, 47;
    --color-neutral-900: 19, 19, 25;

    --color-primary-50: 216, 214, 202;
    --color-primary-100: 209, 204, 185;
    --color-primary-200: 202, 194, 168;
    --color-primary-300: 196, 185, 152;
    --color-primary-400: 198, 178, 131;
    --color-primary-500: 200, 170, 110;
    --color-primary-600: 179, 149, 94;
    --color-primary-700: 158, 128, 78;
    --color-primary-800: 137, 108, 61;
    --color-primary-900: 107, 82, 30;

    --color-shadow: 13, 12, 14;
  }

  html {
    @apply bg-shadow font-beaufort;
    font-size: 62.5%;
  }

  body {
    @apply relative;
  }
}

@layer components {
  .glass {
    background: hsl(230, 9%, 13% / 0.1);
    backdrop-filter: blur(0.6rem);
  }
}
